@charset "UTF-8";
body{
    align-items: center;
    background-color: #AEFD6C;
    font-family: Arial, sans-serif;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #AEFD6C;
    background-image: url('background.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: #333;
    display: flex;
    flex-direction: column;
}